---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<div class="w-full min-h-screen flex justify-center items-center">
		<h1 class="text-6xl">NUEVA ERA</h1>
	</div>
</Layout>