---
interface Props {
    text: string
    size: string
    link: string
}

const {text, size, link} = Astro.props
---
<a href={link} class="px-7 py-3 text-center self-end bg-darkblue rounded-full text-white font-bold uppercase hover:scale-110 transition">
    <span class={size}>{text}</span>
</a>