---
interface Props {
	title: string;
	img: string
}

const { title, img } = Astro.props;
---
<div
	class="w-40 shadow-custom h-52 bg-white flex flex-col items-center py-8 px-6 rounded-2xl border-darkblue hover:scale-110 transition"
>
	<img src=`${img}` class="mb-2" alt="">
	<h2 class="text-wrap text-center text-xl font-semibold">{title}</h2>
</div>

<style>
	.shadow-custom {
		box-shadow: 0px 3px 5px -1px;
	}
</style>
