<footer class="w-full h-fit py-14 flex flex-col gap-10 md:flex-row justify-between px-10 md:px-32 items-start md:items-center">
    <div class="flex flex-col">
        <img src="/assets/logo.png" width="120" alt="">
        <p class="text-white w-80 text-xl">Transformamos la interacción digital para potennciar el crecimiento digital de las organizaciones con soluciones estratégicas</p>
        <div class="flex gap-5 mt-4">
            <a href=""><img src="/assets/instagram.png" width="50" class="hover:scale-110 transition"  alt=""></a>
            <a href=""><img src="/assets/linkedin.png" width="50"  class="hover:scale-110 transition" alt=""></a>
        </div>
    </div>
    <div class="text-white">
        <h2 class="text-3xl mb-3 uppercase font-bold">Contacto</h2>
        <div>
            <div class="flex items-center gap-2 mb-4">
                <img src="/assets/whatsapp.png" width="40" alt="">
                <h3 class="text-xl">3804-683339</h3>
            </div>
            <div class="flex items-center gap-2">
                <img src="/assets/mail.png" width="40" alt="">
                <h3 class="text-xl">nuevaeralr@gmail.com</h3>
            </div>
        </div>
    </div>
</footer>