---
import ButtonC from "./ButtonC.astro";
---

<header class="md:w-full min-h-screen flex flex-col md:flex-row justify-center md:justify-around items-center ">
    <a href="/"><img src="/assets/logo.png" class="animate-fade-in cursor-pointer hover:scale-110 transition" width="400" alt=""></a>
    <div class="mb-14 md:mt-14 flex flex-col gap-10 md:items-end md:justify-end md:animate-slide-out-left">
        <ul class="md:flex md:flex-col md:items-end text-white text-4xl md:text-5xl md:text-end">
            <li class="font-bold text-center">CONECTANDO</li>
            <li class="font-bold text-center">IDEAS</li>
        </ul>
    </div>
</header>