<header class="w-full min-h-screen flex justify-around items-center bg-gradient-to-b from-darkblue to-cyan">
    <img src="/assets/logo.png" width="500" alt="">
    <div class="flex flex-col gap-10 items-end justify-end">
        <ul class="text-white text-5xl text-end">
            <li class="font-bold">PERSONALIZACIÓN</li>
            <li class="font-bold">INNOVACÍON</li>
            <li class="font-bold">CREATIVIDAD</li>
            <li class="font-bold">VANGUARDIA</li>
        </ul>
        <button class="px-7 py-3 bg-darkblue rounded-full text-white text-3xl font-medium uppercase">Conocenos</button>
    </div>
</header>