<header class="w-full min-h-screen flex flex-col md:flex-row justify-center md:justify-around items-center bg-gradient-to-b from-darkblue to-cyan">
    <img src="/assets/logo.png" class="animate-fade-in" width="400" alt="">
    <div class="flex flex-col gap-10 md:items-end md:justify-end md:animate-slide-out-left">
        <ul class="md:flex md:flex-col md:items-end text-white text-4xl md:text-5xl md:text-end">
            <li class="font-bold text-center">PERSONALIZACIÓN</li>
            <li class="font-bold text-center">INNOVACÍON</li>
            <li class="font-bold text-center">CREATIVIDAD</li>
            <li class="font-bold text-center">VANGUARDIA</li>
        </ul>
        <button class="px-7 py-3 bg-darkblue rounded-full text-white text-3xl font-medium uppercase">Conocenos</button>
    </div>
</header>